*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #7D55D0;
    color: #FFFFFF; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.header-img{
    width: 20%;
}

.header-list-item{
    display: inline-block;
    margin: 0 16; 
    font-size: 24px;

}
